{{> layout/header}}

<style>
    .offer-table th, .offer-table td {
        text-align: center;
        vertical-align: middle; /* 셀 내용을 수직 가운데 정렬 */
    }

    .summary-list {
        border: 3px solid #ddd; /* 두꺼운 테두리 선 */
        padding: 10px; /* 내부 여백 */
        background-color: white; /* 배경색 */
    }

    .custom-width {
        width: 40%;
        margin-left: 35%;
    }

    /*체크 박스 크기 늘리기 */
    .item-checkbox {
        transform: scale(1.8);
        margin: 10px;
    }


</style>

<div class="container">
    <table class="table table-hover offer-table scroll" style="text-align: center; border-top:2px solid #ddd">
        <br>
        <h2>장바구니</h2>
        <br>

        <!--        목록 -->
        <thead>
        <tr>
            <th class="center-align col-1">
                <input type="checkbox" id="checkAll" name="checkAll" class="item-checkbox">
            </th>
            <th class="center-align col-2">사진</th>
            <th class="center-align col-2">상품명</th>
            <th class="center-align col-2">상품가격</th>
            <th class="center-align col-2">상품수량</th>
            <th class="center-align col-2"></th>
        </tr>
        </thead>
        <!--        목록 끝-->

        <!--        상품 테이블-->

        <tbody>

        {{#cartList}}
            <tr class="offer-table">
                <input type="hidden" name="productId" value="{{productId}}">
                <input type="hidden" name="cartId" value="{{id}}">
                <td>
                    <input type="checkbox" name="itemCheck" id="itemCheck" class="item-checkbox" checked="checked">
                </td>
                <td>
                    <img src="http://localhost:8080/upload/{{imgFileName}}" width="100"
                         height="100" style="border-radius: 5%">
                </td>
                <td>{{pName}}</td>
                <td class="price">{{price}}</td>
                <td class="buyQty">
                    <input type="hidden" name="cartId" value="{{id}}">
                    <input name="buyQty" type="number" class="form-control custom-width buyQty-change"
                           value="{{buyQty}}" style="margin-bottom: 3%;">
                </td>
                <td>

                    <div class="new-create-button">
                        <form action="/cart/{{id}}/delete" method="post">
                            <button type="submit" class="btn btn-outline-danger">삭제하기</button>
                        </form>
                    </div>
                </td>
            </tr>
        {{/cartList}}
        </tbody>

        <!--        상품 테이블 끝-->

    </table>

    <br>

    <!-- 내가 담은 목록 -->
    <div class="summary-list" style="width: 30%;">
        <!-- 목록 리스트 1-->
        <ul class="list-group mb-3">
            <!-- 합계와 구매하기 버튼을 포함하는 항목 -->
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="flex-fill">
                    <span style="padding-right: 40px;">합계 (원)</span>
                    <strong class="sum">0</strong>
                </div>
                <form action="/order-save-form" method="get">
                    {{#cartList}}
                        <input type="hidden" name="productId" value="{{productId}}">
                        <input type="hidden" name="buyQty" value="{{buyQty}}">
                    {{/cartList}}
                    <button type="submit" class="btn btn-primary" id="purchaseButton">구매하기</button>
                </form>
            </li>
        </ul>
    </div>
    <!-- 내가 담은 목록 끝 -->


</div>


<div style="margin-bottom: 15%"></div>

<!--실시간 수량 반영 !! -->
<script>
    $(document).ready(function () {
        $('.buyQty-change').on('change', function () {
            // cartId가 hidden이라 업데이트 쿼리문이 날아가도 db반영이 안되는 듯함
            //정확한 위치에서 빼오자
            var cartId = $(this).closest('tr').find('input[name="cartId"]').val(); // 수정한 항목 id 가져오기
            var buyQty = $(this).val();     //수정된 수량 가져오기

            $.ajax({
                method: "POST",
                url: "/cart/update",
                data: {
                    cartId: cartId,
                    buyQty: buyQty,
                }

            }).done((res) => {
                setTotal();

            }).fail((res) => {
                alert("오류가 발생했습니다.");

            });
        });
    });

    // 체크 박스로 선택한 값으로 안들어오고 있는 오류 해결하는...
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("purchaseButton").addEventListener("click", function(e) {
            e.preventDefault(); // 기본 폼 제출을 방지

            var checkedItems = document.querySelectorAll('input[name="itemCheck"]:checked');
            var form = document.createElement('form');
            form.method = "GET";
            form.action = "/order-save-form";

            checkedItems.forEach(function(item) {
                var productIdInput = document.createElement('input');
                productIdInput.type = 'hidden';
                productIdInput.name = 'productId';
                productIdInput.value = item.closest('tr').querySelector('input[name="productId"]').value;

                var buyQtyInput = document.createElement('input');
                buyQtyInput.type = 'hidden';
                buyQtyInput.name = 'buyQty';
                buyQtyInput.value = item.closest('tr').querySelector('input[name="buyQty"]').value;

                form.appendChild(productIdInput);
                form.appendChild(buyQtyInput);
            });

            document.body.appendChild(form);
            form.submit();
        });
    });


</script>


<script src="/js/sum-calculate.js"></script>
<script src="/js/list.js"></script>
<script src="/js/check-all.js"></script>


{{> layout/footer}}
