{{> layout/header}}

<style>
    .offer-table th, .offer-table td {
        text-align: center;
        vertical-align: middle; /* 셀 내용을 수직 가운데 정렬 */
    }

    .summary-list {
        border: 3px solid #ddd; /* 두꺼운 테두리 선 */
        padding: 10px; /* 내부 여백 */
        background-color: white; /* 배경색 */
    }

    .custom-width {
        width: 40%;
        margin-left: 35%;
    }

    /*체크 박스 크기 늘리기 */
    .item-checkbox {
        transform: scale(1.8);
        margin: 10px;
    }


</style>

<div class="container">
    <table class="table table-hover offer-table scroll" style="text-align: center; border-top:2px solid #ddd">
        <br>
        <h2>장바구니</h2>
        <br>

        <!--        목록 -->
        <thead>
        <tr>
            <th class="center-align col-1">
                <input type="checkbox" id="checkAll" name="checkAll" class="item-checkbox">
            </th>
            <th class="center-align col-2">사진</th>
            <th class="center-align col-2">상품명</th>
            <th class="center-align col-2">상품가격</th>
            <th class="center-align col-2">상품수량</th>
            <th class="center-align col-2"></th>
        </tr>
        </thead>
        <!--        목록 끝-->

        <!--        상품 테이블-->

        <tbody>
        {{#cartList}}
            <tr class="offer-table">
                <td>
                    <input type="checkbox" name="itemCheck" id="itemCheck" class="item-checkbox">
                </td>
                <td>
                    <img src="http://localhost:8080/upload/{{imgFileName}}" width="100"
                         height="100" style="border-radius: 5%">
                </td>
                <td>{{pName}}</td>
                <td class="sum">{{price}}</td>
                <td class="buyQty">
                    <input name="buyQty" type="number" class="form-control custom-width" value="{{buyQty}}">
                </td>
                <td>
                    <div class="new-create-button">
                        <form action="/">
                            <button type="submit" class="btn btn-outline-danger">삭제하기</button>
                        </form>
                    </div>
                </td>
            </tr>
        {{/cartList}}
        </tbody>

        <!--        상품 테이블 끝-->

    </table>

    <br>

    <!-- 내가 담은 목록 -->
    <div class="summary-list" style="width: 30%;">
        <!-- 목록 리스트 1-->
        <ul class="list-group mb-3">
            <!-- 합계와 구매하기 버튼을 포함하는 항목 -->
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="flex-fill">
                    <span style="padding-right: 40px;">합계 (원)</span>
                    <strong>14000</strong>
                </div>
                <a href="/order-form" class="ml-auto">
                    <button type="button" class="btn btn-primary">구매하기</button>
                </a>
            </li>
        </ul>
    </div>
    <!-- 내가 담은 목록 끝 -->


</div>


<div style="margin-bottom: 15%"></div>

<script src="/js/list.js"></script>

<script>
    <!--    checkAll 체크하면 모두 다 선택되게 -->
    document.getElementById('checkAll').addEventListener('change', function () {
        var isChecked = this.checked;

        // '.item-checkbox' 클래스를 가진 모든 요소를 선택
        var checkboxes = document.querySelectorAll('.item-checkbox');
        // 각 체크박스에 대해 루프를 돌며 checkAll의 상태에 맞춰 체크 상태를 변경
        checkboxes.forEach(function (checkbox) {
            checkbox.checked = isChecked;
        });
    });

    // 모든 .item-checkbox 체크박스에 대해 change 이벤트 리스너 추가
    var itemCheckboxes = document.querySelectorAll('.item-checkbox');
    itemCheckboxes.forEach(function (checkbox) {
        checkbox.addEventListener('change', function () {
            // .item-checkbox 중 하나라도 체크 해제되면 checkAll 체크박스 해제
            var allChecked = Array.from(itemCheckboxes).every(function (item) {
                return item.checked;
            });

            document.getElementById('checkAll').checked = allChecked;
        });
    });

</script>


{{> layout/footer}}
